.container-fluid
.row
  .col-md-6

.row
  .col-md-6.col-md-offset-3.text-center
    = will_paginate @videos, renderer: BootstrapPagination::Rails
- @videos.each_slice(6) do |video_row|
  .row
    - video_row.each do |video| 
      .col-md-2
        .thumbnail
          = link_to "https://www.youtube.com/watch?v=#{video.videoId}" do
            = image_tag video.thumbnail, class: "img-responsive"
          .caption.text-center
            %h5= video.title
            %p
              Duration:
              = video.formatted_duration
            %p
              %kbd 
                %kbd !vote
                = " #{video.id}"
.row
  .col-md-6.col-md-offset-3.text-center
    = will_paginate @videos, renderer: BootstrapPagination::Rails
