!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title BoB Replays - Let's watch VODs together!
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = content_for(:additional_css)
    = csrf_meta_tags
  %body
    = yield
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = content_for(:additional_scripts)
